echo "# Zerocool000G-lighthouse-" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Zerocoolooog/Zerocool000G-lighthouse-.git
git push -u origin main
